
body{
    margin:0;
    font-family: Roboto-Regular;
    color:gray;
}
.bleu{
    color: #23AFB4;
}
.btn1{
    background-color: #23AFB4;
    height: 30px;
    border-radius: 3px;
    border:0px;
    color:white;
    
}
.btn1 a{
    color: white;
    text-decoration: none;
}
h1{
    font-size: 1.9em;
    margin:0;
    font-family:Roboto-Bold;
}
h2{
    font-family:Roboto-Bold;
    color:black;
}
h3{
    font-family:Roboto-Bold;
    color:black;
}
.circle {
    background-color: #23AFB4;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 16px;
}

.separation {
    width: 80px;
    margin: auto;
}

hr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-left-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    border-top-width: 0px;
    border-top-style: solid;
}

/*Police*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

/* Menu de navigation */

nav {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 1;
    padding:10px 0 10px 0;
}



.logo {
    display: inline;
    margin-left: 5%;
}

nav ul {
    display: inline;
    float: right;
    list-style-type: none;
    margin-right: 5%;
    padding: 0;
    overflow: hidden;
    
}

nav ul li {
    display: inline;
    text-align: center;
    
}

nav ul li a {
    text-decoration: none;
    color: gray;
    padding: 15px 15px;
}
nav ul li a:hover {
    text-decoration: none;
    border-top: solid 5px black;
}

/*Slider */
#slider {
    position: relative;
}

.slide {
    z-index: 2;
}

.slide img {
    width: 100%;
}

.disclaimer {
    color:white;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 28%;
}

/*Services */
.intro {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

#service {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

/*Projets */
.nav2{
    padding:50px;
}
.nav2 ul {
    display: inline;
    list-style-type: none;
    padding : 15px 0 15px 0;
    overflow: hidden;
    background-color: gainsboro;
    border-radius: 5px;
}

.nav2 ul li {
    display: inline;
    text-align: center;
    
}

.nav2 ul li a {
    text-decoration: none;
    color: gray;
    padding: 15px 15px;
}
.nav2 ul li a:hover {
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    background-color: #23AFB4;
}


#nosProjets {
    background-color: #f5f5f5;
    padding-top: 20px;
}

#projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 60px;
    margin-left: 20px;
}

#projets img {
    width: 400px;
    display: block;
}
.containerPicture{
    margin-bottom: 40px;
    display: block;
}
figure { 
display: block;
position: relative;
float: left;
overflow:hidden;
margin: 0 50px 50px 0;

}

figcaption {
position: absolute;
background: rgba(0,0,0,0.6);
color: white;
width:400px;
height: 100px;
opacity: 0;
    padding-left:20px;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
}
figcaption a{
    text-decoration: none;
    color:white;
}

figure:hover figcaption {
opacity: 1;
}

.cap-bot figcaption {
left: 0;
bottom: -30%;
}
.cap-bot:hover figcaption {
bottom: 0;
}

/*Map et formulaire */
.map {
    width: 100%;
    height: 600px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
}
.btn2{
    width:100px !important;
}

.formulaire {
    width: 280px;
    background-color: rgba(245, 245, 245, 0.8);
    position: relative;
    top: 20%;
    left: 75%;
    padding: 10px;
}

.formulaire input{
    display: block;
    width: 85%;
    margin: 10px;
    padding: 7px;
    
}
.formulaire textarea
 {
    display: block;
    width: 85%;
    margin: 10px;
    padding: 7px;
     color:gray;
}
.formulaire p{
    display: block;
    width: 85%;
    margin: 10px;
}
.formulaire h3{
    display: block;
    width: 85%;
    margin: 10px;
}

@media all and (max-device-width:480px){

}