.container{
    width:980px;
    margin :auto;
}
/* Menu de navigation */
nav
{

}

.logo{
    display: inline;
    margin-left:5%;
}
nav ul{
    display: inline;
    float: right;
    list-style-type:none;
    margin-right:5%;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    display: inline;
    text-align: center;
    padding: 14px 16px;
}
nav ul li a{
    text-decoration: none;
}
/*Slider */
#slider{
    position: relative;
}
.slide
{
    position: absolute;
z-index: 1;
}
.slide img
{
    width: 100%; 
}
.disclaimer
{
    position:absolute;
    top: 80px;
    left:70px;
    z-index: 2;
    width: 480px;
}
