
/* Menu de navigation */
nav
{

}

.logo{
    display: inline;
    margin-left:5%;
}
nav ul{
    display: inline;
    float: right;
    list-style-type:none;
    margin-right:5%;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    display: inline;
    text-align: center;
    padding: 14px 16px;
}
nav ul li a{
    text-decoration: none;
}
/*Slider */
#slider{
    position: relative;
}
.slide
{
    z-index: 1;
}
.slide img
{
    width: 100%; 
}
.disclaimer
{
    position:absolute;
    top: 80px;
    left:70px;
    z-index: 2;
    width: 480px;
}
/*Services */
.intro{
    text-align: center;
    margin-left:20% ;
    margin-right:20%;
}
#service{
    display: flex;
    justify-content: space-between;
    margin-left:20%;
    margin-right: 20%;
}
/*Projets */
#nosProjets{
    background-color: #f5f5f5;
}
#projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 60px;
    margin-left: 20px;
}
#projets img{
    width:200px;
    margin-bottom: 20px;
}